@import "src/_globals.scss";

.nav-list {
  width: 100%;
}

.nav-item {
  width: 100%;

  &:first-of-type {
    border-top: 1px solid transparent;
  }

  &:hover {
    background: linear-gradient(to right, $color-background-2, $color-background-3);
  }

  &:active {
    background-color: $color-background-2;
  }

  &__link {
    width: 100%;
    padding: 10px;
    cursor: default;
    box-sizing: border-box;
    margin-top: -1px;
    margin-bottom: 1px;
    margin-left: 1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    &--active {
      font-weight: bold;
      background-color: $color-background-2;
      border: 1px solid $color-white;
      border-right: 1px solid $color-background-2;
    }
  }
}
