@import "src/_globals.scss";

.burger-menu {
  margin-top: $header-height;
  height: calc(100% - $header-height);
  max-width: 320px;
  width: 100%;
  right: -320px;
  position: fixed;
  background-color: $color-background-1;
  z-index: 1;
  box-sizing: border-box;
  border-top: 1px solid $color-white;
  flex-direction: column;
  padding: 15px 0;
  gap: 15px;

  @include md {
    display: none;
  }

  @keyframes animate-in {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes animate-out {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  &--active {
    display: flex;
    animation: animate-in 0.3s ease-in forwards;
  }

  &--inactive {
    display: flex;
    animation: animate-out 0.3s ease-in;
  }

  &__nav-list {
    .nav_item {
      width: 10px !important;
    }
  }
}
